* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 

.formcontainer {
    background-color: #68a984;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}
.formulario {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.formulario input {
    margin: 4px;
}

.bienvenido {
    background-color: green;
    width: 40%;
	-webkit-animation: alerta 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: alerta 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes bienvenido {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
.alerta {
    background-color: red;
    width: 40%;
	-webkit-animation: alerta 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: alerta 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes alerta {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }